<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto - FC Barcelona</title>
    <link rel="stylesheet" href="contacto.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

</head>

<body>
    <header>
        <h1>FC Barcelona</h1>
    </header>
    <div class="redes">
        <ul>
            <li><a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="/login">Inicio Session</a></li>
        </ul>
    </div>
    <div class="menu-container">
        <div class="logo">
            <img src="assets/barca3.png" alt="logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/servicio">Servicios</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>
    </div>
    <main>
        <div class="formulario">
            <div class="form-container">
                <form class="form">
                    <div class="form-group">
                        <label for="email">Tu Correo:</label>
                        <input type="text" id="email" name="email" required="">
                    </div>
                    <div class="form-group">
                        <label for="textarea">¿Que desea que te ayudemos?</label>
                        <textarea name="textarea" id="textarea" rows="10" cols="50" required=""></textarea>
                    </div>
                    <button class="form-submit-btn" type="submit" (click)="mensaje()">Submit</button>
                </form>
            </div>
        </div>
        <div class="conct">
            <h2>Contáctenos</h2><br>
            <p>¡Gracias por tu interés en contactarnos! Por favor, <br>utiliza la siguiente información de contacto para
                comunicarte con nosotros:</p>
            <div class="contact-info">
                <br>
                <p><strong>Teléfono:</strong> +34 123 456 789</p><br>
                <p><strong>Correo Electrónico:</strong> infofcbarcelona.com</p><br>
                <p><strong>Dirección:</strong> Av. Joan Gamper, 08028 Barcelona, España</p>
            </div>
        </div>

       
    </main>

    <footer>
        <div>
            <h3>Información de Contacto</h3>
            <p>Correo electrónico: julianNarvaez.com</p>
            <p>Teléfono: 320-828-97-44</p>
        </div>
        <div>
            <h3>Síguenos en las redes sociales</h3>
            <ul>
                <li><a href="https://web.facebook.com/fcbarcelona/?locale=es_LA&_rdc=1&_rdr" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/FCBarcelona_es?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/fcbarcelona/" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </footer>

</body>

</html>