<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inicio.component.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <title>Parcial</title>
</head>

<body>
    <header>
        <h1>Leyendas del Club</h1>
    </header>
    
    <div class="redes">
        <ul>
            <li><a href="https://web.facebook.com/?locale=es_LA&_rdc=1&_rdr" target="_blank"><i class="fab fa-facebook"></i></a></li>
            <li><a href="https://www.tiktok.com/" target="_blank"><i class="fab fa-tiktok"></i></a></li>
            <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
            <li><a href="/login">Inicio Session</a></li>
        </ul>
    </div>
    <div class="menu-container">
        <div class="logo">
            <img src="assets/barca3.png" alt="logo">
        </div>
        <div class="menu">
            <ul>
                <li><a href="/inicio">Inicio</a></li>
                <li><a href="/servicio">Servicios</a></li>
                <li><a href="/contacto">Contacto</a></li>
            </ul>
        </div>

    </div>
    <div class="contenido">
        <div class="imagen-con-texto">
            <img src="assets/messi.jpg" alt="">
            <p>Lionel Messi fue un legendario futbolista del FC Barcelona durante más de 20 años. Es el máximo goleador del club y ganó numerosos títulos, incluyendo múltiples La Ligas y Ligas de Campeones de la
                UEFA. Su habilidad y talento lo convierten en uno de los mejores jugadores de la historia del fútbol.
            </p>
        </div>
        <div class="imagen-con-texto">
            <img src="assets/ronal.webp" alt="">
            <p>Ronaldinho fue un legendario futbolista brasileño que brilló en el FC Barcelona. Con su habilidad única y regates espectaculares, dejó una huella imborrable en el club. Ganó títulos importantes y premios individuales, 
                convirtiéndose en uno de los más queridos y recordados de la historia.
            </p>
        </div>
        <div class="imagen-con-texto">
            <img src="assets/cruy.jpg" alt="">
            <p>
                Johan Cruyff fue una figura emblemática del FC Barcelona, dejando un legado revolucionario en el juego y definiendo el estilo 
                del club con su visión y habilidad únicas.
            </p>
        </div>
    </div>

    <footer>
        <div>
            <h3>Información de Contacto</h3>
            <p>Correo electrónico: julianNarvaez.com</p>
            <p>Teléfono: 320-828-97-44</p>
        </div>
        <div>
            <h3>Síguenos en las redes sociales</h3>
            <ul>
                <li><a href="https://web.facebook.com/fcbarcelona/?locale=es_LA&_rdc=1&_rdr" target="_blank">Facebook</a></li>
                <li><a href="https://twitter.com/FCBarcelona_es?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor" target="_blank">Twitter</a></li>
                <li><a href="https://www.instagram.com/fcbarcelona/" target="_blank">Instagram</a></li>
            </ul>
        </div>
    </footer>
</body>

</html>